# Guided Project: Exploring Ebay Car Sales Data
## Dataset: eBay Kleinanzeigen

In [1]:
import pandas as pd
import numpy as np

In [2]:
autos = pd.read_csv('autos.csv', encoding='Windows-1251')

In [3]:
autos

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÐ¬V_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
5,2016-03-21 13:47:45,Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...,privat,Angebot,"$7,900",test,bus,2006,automatik,150,voyager,"150,000km",4,diesel,chrysler,NaN,2016-03-21 00:00:00,0,22962,2016-04-06 09:45:21
6,2016-03-20 17:55:21,VW_Golf_III_GT_Special_Electronic_Green_Metall...,privat,Angebot,$300,test,limousine,1995,manuell,90,golf,"150,000km",8,benzin,volkswagen,NaN,2016-03-20 00:00:00,0,31535,2016-03-23 02:48:59
7,2016-03-16 18:55:19,Golf_IV_1.9_TDI_90PS,privat,Angebot,"$1,990",control,limousine,1998,manuell,90,golf,"150,000km",12,diesel,volkswagen,nein,2016-03-16 00:00:00,0,53474,2016-04-07 03:17:32
8,2016-03-22 16:51:34,Seat_Arosa,privat,Angebot,$250,test,NaN,2000,manuell,0,arosa,"150,000km",10,NaN,seat,nein,2016-03-22 00:00:00,0,7426,2016-03-26 18:18:10
9,2016-03-16 13:47:02,Renault_Megane_Scenic_1.6e_RT_Klimaanlage,privat,Angebot,$590,control,bus,1997,manuell,90,megane,"150,000km",7,benzin,renault,nein,2016-03-16 00:00:00,0,15749,2016-04-06 10:46:35
10,2016-03-15 01:41:36,VW_Golf_Tuning_in_siber/grau,privat,Angebot,$999,test,NaN,2017,manuell,90,NaN,"150,000km",4,benzin,volkswagen,nein,2016-03-14 00:00:00,0,86157,2016-04-07 03:16:21
11,2016-03-16 18:45:34,Mercedes_A140_Motorschaden,privat,Angebot,$350,control,NaN,2000,NaN,0,NaN,"150,000km",0,benzin,mercedes_benz,NaN,2016-03-16 00:00:00,0,17498,2016-03-16 18:45:34
12,2016-03-31 19:48:22,Smart_smart_fortwo_coupe_softouch_pure_MHD_Pan...,privat,Angebot,"$5,299",control,kleinwagen,2010,automatik,71,fortwo,"50,000km",9,benzin,smart,nein,2016-03-31 00:00:00,0,34590,2016-04-06 14:17:52
13,2016-03-23 10:48:32,Audi_A3_1.6_tuning,privat,Angebot,"$1,350",control,limousine,1999,manuell,101,a3,"150,000km",11,benzin,audi,nein,2016-03-23 00:00:00,0,12043,2016-04-01 14:17:13
14,2016-03-23 11:50:46,Renault_Clio_3__Dynamique_1.2__16_V;_viele_Ver...,privat,Angebot,"$3,999",test,kleinwagen,2007,manuell,75,clio,"150,000km",9,benzin,renault,NaN,2016-03-23 00:00:00,0,81737,2016-04-01 15:46:47
15,2016-04-01 12:06:20,Corvette_C3_Coupe_T_Top_Crossfire_Injection,privat,Angebot,"$18,900",test,coupe,1982,automatik,203,NaN,"80,000km",6,benzin,sonstige_autos,nein,2016-04-01 00:00:00,0,61276,2016-04-02 21:10:48
16,2016-03-16 14:59:02,Opel_Vectra_B_Kombi,privat,Angebot,$350,test,kombi,1999,manuell,101,vectra,"150,000km",5,benzin,opel,nein,2016-03-16 00:00:00,0,57299,2016-03-18 05:29:37
17,2016-03-29 11:46:22,Volkswagen_Scirocco_2_G60,privat,Angebot,"$5,500",test,coupe,1990,manuell,205,scirocco,"150,000km",6,benzin,volkswagen,nein,2016-03-29 00:00:00,0,74821,2016-04-05 20:46:26
18,2016-03-26 19:57:44,Verkaufen_mein_bmw_e36_320_i_touring,privat,Angebot,$300,control,bus,1995,manuell,150,3er,"150,000km",0,benzin,bmw,NaN,2016-03-26 00:00:00,0,54329,2016-04-02 12:16:41
19,2016-03-17 13:36:21,mazda_tribute_2.0_mit_gas_und_tuev_neu_2018,privat,Angebot,"$4,150",control,suv,2004,manuell,124,andere,"150,000km",2,lpg,mazda,nein,2016-03-17 00:00:00,0,40878,2016-03-17 14:45:58
20,2016-03-05 19:57:31,Audi_A4_Avant_1.9_TDI_*6_Gang*AHK*Klimatronik*...,privat,Angebot,"$3,500",test,kombi,2003,manuell,131,a4,"150,000km",5,diesel,audi,NaN,2016-03-05 00:00:00,0,53913,2016-03-07 05:46:46
21,2016-03-06 19:07:10,Porsche_911_Carrera_4S_Cabrio,privat,Angebot,"$41,500",test,cabrio,2004,manuell,320,911,"150,000km",4,benzin,porsche,nein,2016-03-06 00:00:00,0,65428,2016-04-05 23:46:19
22,2016-03-28 20:50:54,MINI_Cooper_S_Cabrio,privat,Angebot,"$25,450",control,cabrio,2015,manuell,184,cooper,"10,000km",1,benzin,mini,nein,2016-03-28 00:00:00,0,44789,2016-04-01 06:45:30
23,2016-03-10 19:55:34,Peugeot_Boxer_2_2_HDi_120_Ps_9_Sitzer_inkl_Klima,privat,Angebot,"$7,999",control,bus,2010,manuell,120,NaN,"150,000km",2,diesel,peugeot,nein,2016-03-10 00:00:00,0,30900,2016-03-17 08:45:17
24,2016-04-03 11:57:02,BMW_535i_xDrive_Sport_Aut.,privat,Angebot,"$48,500",control,limousine,2014,automatik,306,5er,"30,000km",12,benzin,bmw,nein,2016-04-03 00:00:00,0,22547,2016-04-07 13:16:50
25,2016-03-21 21:56:18,Ford_escort_kombi_an_bastler_mit_ghia_ausstattung,privat,Angebot,$90,control,kombi,1996,manuell,116,NaN,"150,000km",4,benzin,ford,ja,2016-03-21 00:00:00,0,27574,2016-04-01 05:16:49
26,2016-04-03 22:46:28,Volkswagen_Polo_Fox,privat,Angebot,$777,control,kleinwagen,1992,manuell,54,polo,"125,000km",2,benzin,volkswagen,nein,2016-04-03 00:00:00,0,38110,2016-04-05 23:46:48
27,2016-03-27 18:45:01,Hat_einer_Ahnung_mit_Ford_Galaxy_HILFE,privat,Angebot,$0,control,NaN,2005,NaN,0,NaN,"150,000km",0,NaN,ford,NaN,2016-03-27 00:00:00,0,66701,2016-03-27 18:45:01
28,2016-03-19 21:56:19,MINI_Cooper_D,privat,Angebot,"$5,250",control,kleinwagen,2007,manuell,110,cooper,"150,000km",7,diesel,mini,ja,2016-03-19 00:00:00,0,15745,2016-04-07 14:58:48
29,2016-04-02 12:45:44,Mercedes_Benz_E_320_T_CDI_Avantgarde_DPF7_Sitz...,privat,Angebot,"$4,999",test,kombi,2004,automatik,204,e_klasse,"150,000km",10,diesel,mercedes_benz,nein,2016-04-02 00:00:00,0,47638,2016-04-02 12:45:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18675,2016-03-09 14:45:00,VW_GOLF_1.9_TDI_KLIMA_AHK_TÐ¬V,privat,Angebot,"$2,000",test,NaN,2017,manuell,90,golf,"150,000km",0,diesel,volkswagen,NaN,2016-03-09 00:00:00,0,37520,2016-03-11 09:17:40
18676,2016-03-12 22:52:33,RENAULT_TWINGO_SERVO_FALTDACH_ALUS_SEHR_SAUBER!!!,privat,Angebot,"$1,100",control,kleinwagen,2002,manuell,75,twingo,"125,000km",7,benzin,renault,nein,2016-03-12 00:00:00,0,45355,2016-03-19 06:17:28
18677,2016-03-07 09:53:31,Corsa_an_Bastler__Motor_Getriebe_OK,privat,Angebot,$200,control,NaN,2000,NaN,0,corsa,"150,000km",0,benzin,opel,NaN,2016-03-07 00:00:00,0,45701,2016-03-07 10:44:27
18678,2016-04-02 14:43:12,Mitsubishi_Galant_2.5L_V6_Limousine_elegance,privat,Angebot,$999,test,limousine,2002,manuell,165,NaN,"150,000km",1,NaN,mitsubishi,nein,2016-04-02 00:00:00,0,10623,2016-04-02 14:43:12
18679,2016-03-11 13:37:35,Top_zuverlaessiger_Peugeot_206,privat,Angebot,"$1,000",test,kleinwagen,2000,manuell,135,2_reihe,"150,000km",6,benzin,peugeot,nein,2016-03-11 00:00:00,0,51377,2016-03-12 02:45:17
18680,2016-03-20 14:48:46,*******SCHNÐPPCHEN_POLO_6N_TÐ¬V_06/17_*******,privat,Angebot,$999,test,kleinwagen,1995,manuell,0,polo,"150,000km",11,benzin,volkswagen,nein,2016-03-20 00:00:00,0,38304,2016-03-21 17:47:56
18681,2016-03-22 11:55:53,320_d_~_M_PAKET_II,privat,Angebot,"$3,000",control,limousine,2004,NaN,0,3er,"150,000km",0,diesel,bmw,NaN,2016-03-22 00:00:00,0,10119,2016-03-22 11:55:53
18682,2016-03-16 21:51:42,Vw_Polo_mit_Tuev,privat,Angebot,"$1,490",control,NaN,2017,manuell,50,polo,"150,000km",5,NaN,volkswagen,nein,2016-03-16 00:00:00,0,59494,2016-03-23 11:48:08
18683,2016-04-02 17:36:21,Ford_Focus_zu_verkaufen,privat,Angebot,"$5,400",control,kombi,2009,NaN,110,focus,"150,000km",0,diesel,ford,NaN,2016-04-02 00:00:00,0,48485,2016-04-06 18:16:21
18684,2016-03-23 14:47:07,Opel_Corsa_Tuev_neu!!!!,privat,Angebot,"$1,800",test,kleinwagen,2004,manuell,60,corsa,"150,000km",11,benzin,opel,NaN,2016-03-23 00:00:00,0,41540,2016-04-05 16:44:36
18685,2016-04-01 00:54:42,Hyundai_i10,privat,Angebot,"$4,200",test,kleinwagen,2009,manuell,0,i_reihe,"80,000km",2,benzin,hyundai,nein,2016-04-01 00:00:00,0,73660,2016-04-07 05:15:45
18686,2016-03-09 21:38:02,OPEL_ASTRA_1.6_mit_TUNING_UND_TÐ¬V_BIS_3/2018,privat,Angebot,"$1,199",test,limousine,1998,manuell,101,astra,"150,000km",6,benzin,opel,NaN,2016-03-09 00:00:00,0,30453,2016-03-10 07:46:10
18687,2016-03-20 19:54:22,Fiat_500_Porsche_VW_Audi_BMW_Mercedes_Opel_Sea...,privat,Angebot,$0,test,NaN,1970,NaN,0,500,"100,000km",0,NaN,fiat,NaN,2016-03-20 00:00:00,0,46119,2016-04-01 07:47:59
18688,2016-03-09 11:55:39,VW_Lupo_1.0_College_top_gepflegt!,privat,Angebot,"$1,600",test,kleinwagen,2000,manuell,50,lupo,"150,000km",9,benzin,volkswagen,nein,2016-03-09 00:00:00,0,1445,2016-03-18 03:16:17
18689,2016-03-28 19:55:21,Hyundai_i30_1.4_Classic_Tuev_bis_3/18_top_gepf...,privat,Angebot,"$4,800",control,limousine,2009,manuell,109,i_reihe,"125,000km",3,benzin,hyundai,nein,2016-03-28 00:00:00,0,52249,2016-03-30 11:47:16
18690,2016-04-01 19:51:59,BMW_320d_touring,privat,Angebot,"$3,700",control,kombi,2003,manuell,150,3er,"150,000km",5,diesel,bmw,nein,2016-04-01 00:00:00,0,38226,2016-04-01 19:51:59
18691,2016-03-31 00:56:30,Auto_zu_verkaufen,privat,Angebot,$200,control,kleinwagen,1999,automatik,0,andere,"150,000km",4,benzin,citroen,NaN,2016-03-31 00:00:00,0,40699,2016-04-04 00:16:06
18692,2016-03-14 15:58:41,Vw_polo_6n,privat,Angebot,$130,control,kleinwagen,1999,manuell,70,polo,"150,000km",0,NaN,volkswagen,ja,2016-03-14 00:00:00,0,56414,2016-03-23 20:18:45
18693,2016-03-08 22:55:28,Vw_Polo_1.4_9n_Tdi_mit_Klimaanlage_Gruene_Plak...,privat,Angebot,"$2,350",test,kleinwagen,2001,manuell,0,polo,"150,000km",7,diesel,volkswagen,nein,2016-03-08 00:00:00,0,77694,2016-03-09 23:44:17
18694,2016-04-03 18:52:41,Audi_A4_Avant_3.0_quattro_S_Line_LPG,privat,Angebot,"$3,990",control,kombi,2001,automatik,220,a4,"150,000km",9,benzin,audi,nein,2016-04-03 00:00:00,0,30952,2016-04-05 19:19:08
18695,2016-03-06 10:38:10,VW_Polo_erst_11700km!!!!!!,privat,Angebot,"$3,800",test,NaN,2005,manuell,55,polo,"20,000km",11,NaN,volkswagen,nein,2016-03-06 00:00:00,0,6198,2016-03-07 17:18:29
18696,2016-03-11 20:46:05,Touran_Highline_in_Schwarz_guter_Zustand_mit_v...,privat,Angebot,"$6,666",control,limousine,2006,automatik,140,touran,"150,000km",10,diesel,volkswagen,nein,2016-03-11 00:00:00,0,23552,2016-03-14 19:16:09
18697,2016-03-09 17:53:12,Honda_Jazz_1.4_i_VTEC_CVT_Trend,privat,Angebot,"$8,700",test,kleinwagen,2011,automatik,99,jazz,"30,000km",3,benzin,honda,nein,2016-03-09 00:00:00,0,86163,2016-03-10 14:16:09
18698,2016-03-22 17:52:34,Kia_Opirus_LPG_Gas_TÐ¬V_bis_05.2017,privat,Angebot,"$1,299",control,limousine,2004,automatik,203,andere,"150,000km",4,lpg,kia,nein,2016-03-22 00:00:00,0,40599,2016-03-24 02:15:41
18699,2016-04-04 16:44:12,BMW_530d_Touring_Sport_Aut._Edition_Sport,privat,Angebot,"$17,500",test,kombi,2008,automatik,235,5er,"150,000km",7,diesel,bmw,nein,2016-04-04 00:00:00,0,94469,2016-04-04 16:44:12
18700,2016-03-14 01:06:37,Toyota_GT86_Automatik,privat,Angebot,"$18,999",test,coupe,2012,automatik,200,andere,"30,000km",11,benzin,toyota,nein,2016-03-13 00:00:00,0,35390,2016-04-06 17:15:39
18701,2016-03-23 23:58:50,Golf_5_Automatik,privat,Angebot,"$1,400",control,kombi,2001,automatik,101,golf,"150,000km",8,benzin,volkswagen,nein,2016-03-23 00:00:00,0,38268,2016-03-27 03:46:30
18702,2016-03-07 22:54:55,Opel_Astra_1.6__perfektes_Anfaengerauto,privat,Angebot,"$1,999",test,limousine,2002,manuell,84,astra,"100,000km",8,benzin,opel,nein,2016-03-07 00:00:00,0,50181,2016-03-15 11:44:32
18703,2016-03-12 15:44:10,Mondeo_MK3_2_2_TDCI,privat,Angebot,"$8,990",control,limousine,2005,manuell,155,mondeo,"150,000km",2,diesel,ford,nein,2016-03-12 00:00:00,0,53489,2016-03-19 16:50:19
18704,2016-03-14 17:43:47,Volkswagen_Golf_Variant_1.6_TDI__BlueMotion_Te...,privat,Angebot,"$7,990",test,kombi,2011,manuell,105,golf,"150,000km",1,diesel,volkswagen,nein,2016-03-14 00:00:00,0,38312,2016-03-14

In [4]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18705 entries, 0 to 18704
Data columns (total 20 columns):
dateCrawled            18705 non-null object
name                   18705 non-null object
seller                 18705 non-null object
offerType              18705 non-null object
price                  18705 non-null object
abtest                 18705 non-null object
vehicleType            16783 non-null object
yearOfRegistration     18705 non-null int64
gearbox                17702 non-null object
powerPS                18705 non-null int64
model                  17679 non-null object
odometer               18705 non-null object
monthOfRegistration    18705 non-null int64
fuelType               17068 non-null object
brand                  18705 non-null object
notRepairedDamage      15011 non-null object
dateCreated            18705 non-null object
nrOfPictures           18705 non-null int64
postalCode             18705 non-null int64
lastSeen               18705 non-null object
dtypes: int64(5), object(15)
memory usage: 2.9+ MB

In [5]:
autos.isnull().sum()

dateCrawled               0
name                      0
seller                    0
offerType                 0
price                     0
abtest                    0
vehicleType            1922
yearOfRegistration        0
gearbox                1003
powerPS                   0
model                  1026
odometer                  0
monthOfRegistration       0
fuelType               1637
brand                     0
notRepairedDamage      3694
dateCreated               0
nrOfPictures              0
postalCode                0
lastSeen                  0
dtype: int64

In [6]:
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÐ¬V_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [7]:
autos['brand'].unique()

array(['peugeot', 'bmw', 'volkswagen', 'smart', 'ford', 'chrysler',
       'seat', 'renault', 'mercedes_benz', 'audi', 'sonstige_autos',
       'opel', 'mazda', 'porsche', 'mini', 'toyota', 'dacia', 'nissan',
       'jeep', 'saab', 'volvo', 'mitsubishi', 'jaguar', 'fiat', 'skoda',
       'subaru', 'kia', 'citroen', 'chevrolet', 'hyundai', 'honda',
       'daewoo', 'suzuki', 'trabant', 'land_rover', 'alfa_romeo', 'lada',
       'rover', 'daihatsu', 'lancia'], dtype=object)

### Observations

* Data is in German
* There's null values in notRepairedDamage, fuelType, model, gearbox, and vehicleType
* numeric columns need to be casted to a numeric type
* name column has also a description in the string

In [8]:
print(autos.columns)

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [9]:
new_cols = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'pictures_nr', 'postal_code',
       'last_seen']

In [10]:
autos.columns = new_cols

In [11]:
autos.head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,pictures_nr,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÐ¬V_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

** changes made to all column names to snake casing **

In [12]:
autos.describe(include='all')

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,pictures_nr,postal_code,last_seen
count,18705,18705,18705,18705,18705,18705,16783,18705.000000,17702,18705.000000,17679,18705,18705.000000,17068,18705,15011,18705,18705.0,18705.000000,18705
unique,18442,15873,2,2,1505,2,8,NaN,2,NaN,241,13,NaN,7,40,2,56,NaN,NaN,16854
top,2016-03-22 01:00:24,BMW_316i,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,2,34,18704,18704,549,9649,4767,NaN,13830,NaN,1520,12135,NaN,11245,4041,13162,741,NaN,NaN,6
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.675221,NaN,115.915584,NaN,NaN,5.750495,NaN,NaN,NaN,NaN,0.0,50543.401176,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,122.117905,NaN,159.012421,NaN,NaN,3.700714,NaN,NaN,NaN,NaN,0.0,25729.913460,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1800.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30419.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49205.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71034.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,14009.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

### Columns with mostly one value

* seller
* offer_type
* pictures_nr

### Columns worth investigating more

* price: has too many values at 0
* way too many limousines

### Numeric data stored as text

* price
* odometer

In [13]:
autos['price'].describe()

count     18705
unique     1505
top          $0
freq        549
Name: price, dtype: object

In [14]:
count = autos['price'].value_counts()
count.shape

(1505,)

In [15]:
count_str = autos.loc[autos['price'].str.contains(','),'price'].value_counts()
count_str.shape

(1326,)

In [16]:
autos.loc[autos['vehicle_type'] == 'limousine'].head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,pictures_nr,postal_code,last_seen
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
6,2016-03-20 17:55:21,VW_Golf_III_GT_Special_Electronic_Green_Metall...,privat,Angebot,$300,test,limousine,1995,manuell,90,golf,"150,000km",8,benzin,volkswagen,NaN,2016-03-20 00:00:00,0,31535,2016-03-23 02:48:59
7,2016-03-16 18:55:19,Golf_IV_1.9_TDI_90PS,privat,Angebot,"$1,990",control,limousine,1998,manuell,90,golf,"150,000km",12,diesel,volkswagen,nein,2016-03-16 00:00:00,0,53474,2016-04-07 03:17:32
13,2016-03-23 10:48:32,Audi_A3_1.6_tuning,privat,Angebot,"$1,350",control,limousine,1999,manuell,101,a3,"150,000km",11,benzin,audi,nein,2016-03-23 00:00:00,0,12043,2016-04-01 14:17:13

In [17]:
autos['price'] = (autos['price']
                  .str.replace('$','')
                  .str.replace(',','')
                  .astype(float))

In [18]:
autos['odometer'] = (autos['odometer']
                  .str.replace('km','')
                  .str.replace(',','')
                  .astype(float))

In [19]:
autos.rename({'odometer': 'odometer_km'}, axis=1, inplace=True)

In [20]:
autos['price'].describe()

count    1.870500e+04
mean     6.942165e+03
std      1.102357e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.290000e+03
max      1.111111e+07
Name: price, dtype: float64

In [21]:
autos['odometer_km'].describe()

count     18705.000000
mean     125838.813152
std       39966.897807
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

In [22]:
autos['price'].max()

11111111.0

In [23]:
autos.loc[autos['price'] == autos['price'].max()]

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,pictures_nr,postal_code,last_seen
2897,2016-03-12 21:50:57,Escort_MK_1_Hundeknochen_zum_umbauen_auf_RS_2000,privat,Angebot,11111111.0,test,limousine,1973,manuell,48,escort,50000.0,3,benzin,ford,nein,2016-03-12 00:00:00,0,94469,2016-03-12 22:45:27

In [24]:
autos.loc[autos['price'] < 1000,'price'].value_counts().sort_index().head(50)

0.0      549
1.0       72
2.0        1
5.0        2
10.0       1
11.0       1
12.0       3
13.0       2
18.0       1
25.0       2
30.0       2
35.0       1
40.0       2
45.0       3
49.0       2
50.0      19
59.0       1
60.0       4
65.0       3
66.0       1
70.0       5
75.0       3
79.0       1
80.0       8
90.0       2
99.0       5
100.0     43
110.0      1
117.0      1
120.0     16
122.0      1
125.0      3
130.0      3
139.0      1
140.0      5
149.0      4
150.0     88
160.0      5
170.0      5
173.0      1
175.0      2
179.0      1
180.0     10
190.0      7
193.0      1
195.0      2
198.0      1
199.0     14
200.0     98
215.0      1
Name: price, dtype: int64

In [25]:
autos.loc[autos['price'] == 1.0]

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,pictures_nr,postal_code,last_seen
55,2016-03-07 02:47:54,Mercedes_E320_AMG_zu_Tauschen!,privat,Angebot,1.0,test,NaN,2017,automatik,224,e_klasse,125000.0,7,benzin,mercedes_benz,nein,2016-03-06 00:00:00,0,22111,2016-03-08 05:45:44
344,2016-03-22 11:25:18,Verkaufe_hier_mein_mein_schoener_honda_crx_in_...,privat,Angebot,1.0,test,NaN,2000,manuell,125,andere,5000.0,0,NaN,honda,NaN,2016-03-22 00:00:00,0,65391,2016-04-06 18:15:57
791,2016-04-05 09:52:11,Opel_Vectra_in_teilen,privat,Angebot,1.0,control,kombi,1999,manuell,101,vectra,150000.0,1,benzin,opel,NaN,2016-04-05 00:00:00,0,59394,2016-04-07 13:16:37
981,2016-03-10 00:56:12,Verkaufen_oder_tauschen,privat,Angebot,1.0,control,kombi,2003,manuell,150,3er,150000.0,9,diesel,bmw,nein,2016-03-10 00:00:00,0,58840,2016-04-06 01:16:59
1115,2016-03-24 22:36:58,Suche_Passat_VR6_Variant,privat,Angebot,1.0,control,NaN,1995,manuell,0,passat,150000.0,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,38556,2016-04-06 03:45:42
1422,2016-03-16 18:43:16,zerlege_Astra_f_teile_guenstig,privat,Angebot,1.0,control,NaN,1995,NaN,75,astra,5000.0,0,benzin,opel,NaN,2016-03-16 00:00:00,0,1728,2016-03-19 16:45:08
1561,2016-03-15 13:52:33,Suche_Skoda_Oktavia_Kombi_Diesel_ab_2005,privat,Angebot,1.0,control,NaN,2005,NaN,0,octavia,150000.0,0,diesel,skoda,NaN,2016-03-15 00:00:00,0,88099,2016-04-06 03:16:18
1877,2016-03-29 09:50:25,Tausche_Peugeot_306_gegen_Motorroller/Handy/No...,privat,Angebot,1.0,test,NaN,2017,manuell,75,3_reihe,150000.0,0,NaN,peugeot,nein,2016-03-29 00:00:00,0,82362,2016-03-29 10:45:19
1987,2016-03-16 21:55:11,Audi_A4_B5_Ersatzteile,privat,Angebot,1.0,control,limousine,1997,NaN,0,a4,5000.0,0,benzin,audi,NaN,2016-03-16 00:00:00,0,64839,2016-04-07 10:16:37
2442,2016-03-13 00:59:30,Opel_astra_g_cc_1.8_16v_Schlachtfest!!!,privat,Angebot,1.0,control,NaN,2000,NaN,0,astra,150000.0,0,NaN,opel,ja,2016-03-12 00:00:00,0,48301,2016-03-19 11:45:51
2865,2016-03-08 16:57:11,Opel_Astra_f_Cabrio,privat,Angebot,1.0,test,cabrio,1995,manuell,0,astra,150000.0,0,benzin,opel,NaN,2016-03-08 00:00:00,0,26388,2016-04-07 03:16:24
2892,2016-03-08 20:46:19,Suche_Opel_Omega_gerne_DTI_ab_BJ_2000,privat,Angebot,1.0,control,NaN,2000,NaN,0,omega,5000.0,0,NaN,opel,NaN,2016-03-08 00:00:00,0,29456,2016-03-12 22:47:34
3062,2016-03-07 11:56:53,VW_Golf_3_zum_herrichten_oder_ausschlachten,privat,Angebot,1.0,test,NaN,2016,manuell,75,golf,150000.0,5,NaN,volkswagen,NaN,2016-03-07 00:00:00,0,74081,2016-03-15 05:17:02
3397,2016-03-14 16:53:37,Suchen_dringend_Automechaniker_in_Rheda,privat,Angebot,1.0,test,NaN,2000,NaN,0,golf,125000.0,0,NaN,volkswagen,NaN,2016-03-14 00:00:00,0,33330,2016-03-16 07:19:07
3611,2016-04-07 03:36:33,Suche_corsa_c,privat,Angebot,1.0,test,kleinwagen,2000,NaN,0,corsa,10000.0,5,NaN,opel,nein,2016-04-07 00:00:00,0,39112,2016-04-07 03:36:33
3679,2016-04-04 00:36:17,Suche_Auto,privat,Angebot,1.0,test,NaN,1910,NaN,0,NaN,5000.0,0,NaN,sonstige_autos,NaN,2016-04-04 00:00:00,0,40239,2016-04-04 07:49:15
4194,2016-03-23 21:51:14,Skoda_octavia_FSI_Tuning_Fox_Auspuff_Spoiler,privat,Angebot,1.0,test,kombi,2005,NaN,0,octavia,150000.0,0,NaN,skoda,NaN,2016-03-23 00:00:00,0,13088,2016-04-06 04:15:24
4253,2016-03-15 17:56:58,Ich_schlachte_meinen_Mitsubishi_carisma.,privat,Angebot,1.0,control,limousine,2000,manuell,122,carisma,150000.0,6,NaN,mitsubishi,NaN,2016-03-15 00:00:00,0,13189,2016-04-06 18:48:10
4323,2016-03-11 07:55:11,Vw_polo_6n1_zum_ausschlachten,privat,Angebot,1.0,test,kleinwagen,1997,manuell,60,polo,150000.0,0,NaN,volkswagen,nein,2016-03-11 00:00:00,0,97318,2016-03-11 09:44:49
4496,2016-03-25 10:53:36,RENAULT__MEGAN__GRANTOUR____bj_2001____TAUSCHE...,privat,Angebot,1.0,test,kombi,2001,manuell,0,megane,5000.0,12,benzin,renault,nein,2016-03-25 00:00:00,0,14199,2016-04-06 10:45:11
4632,2016-03-18 05:06:26,Opel_Astra_F_Schlachtfest,privat,Angebot,1.0,test,limousine,1999,automatik,0,astra,150000.0,10,benzin,opel,NaN,2016-03-18 00:00:00,0,65933,2016-04-07 03:45:38
4787,2016-03-16 23:37:56,Sehr_gepflegt_und_nicht_rauche_Auto,privat,Angebot,1.0,test,limousine,1998,manuell,150,passat,150000.0,10,benzin,volkswagen,nein,2016-03-16 00:00:00,0,70469,2016-03-29 16:17:31
4928,2016-03-31 07:36:19,Opel_b_corsa_5_Tuerer,privat,Angebot,1.0,test,kleinwagen,1998,manuell,65,corsa,150000.0,7,benzin,opel,ja,2016-03-31 00:00:00,0,18556,2016-04-02 04:15:46
5118,2016-03-15 10:39:56,ECHTER__!__VW_Polo_GTI___Unverbastelt!___Gegen...,privat,Angebot,1.0,control,kleinwagen,1998,manuell,125,polo,150000.0,11,benzin,volkswagen,nein,2016-03-15 00:00:00,0,41372,2016-03-15 10:39:56
5246,2016-03-12 12:56:03,Autoaufbereitung,privat,Angebot,1.0,test,NaN,2015,NaN,0,6er,5000.0,12,NaN,bmw,NaN,2016-03-12 00:00:00,0,29640,2016-03-12 12:56:03
5308,2016-03-31 15:54:03,Nissan_Almera_1.6,privat,Angebot,1.0,control,NaN,2000,NaN,0,almera,90000.0,0,NaN,nissan,NaN,2016-03-31 00:00:00,0,66706,2016-04-06 08:46:24
5354,2016-03-29 18:25:27,Schlachtfest,privat,Angebot,1.0,test,NaN,2000,NaN,0,golf,150000.0,0,NaN,volkswagen,ja,2016-03-29 00:00:00,0,35232,2016-04-06 06:45:01
5594,2016-03-26 00:59:02,Schlachte_polo_6n_alles_vorhanden_und_billig_a...,privat,Angebot,1.0,test,NaN,2000,manuell,60,NaN,150000.0,3,NaN,volkswagen,NaN,2016-03-25 00:00:00,0,28757,2016-03-29 09:46:50
5883,2016-03-28 12:56:23,Suche_ein_Auto,privat,Angebot,1.0,test,NaN,2005,NaN,0,NaN,5000.0,0,NaN,volkswagen,NaN,2016-03-28 00:00:00,0,61118,2016-04-02 16:48:00
6013,2016-03-25 13:58:03,Auto_zum_ausschlachten,privat,Angebot,1.0,test,kleinwagen,1997,manuell,116,golf,150000.0,1,benzin,volkswagen,nein,2016-03-25 00:00:00,0,55234,2016-04-06 17:17:18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9691,2016-03-28 14:54:10,Schlachte_Opel_Vectra_B_Limosine__1_8__85_kw__...,privat,Angebot,1.0,test,limousine,1999,manuell,85,vectra,150000.0,6,benzin,opel,ja,2016-03-28 00:00:00,0,8294,2016-04-06 19:16:32
10204,2016-03-28 13:43:55,Alles_Muss_weg..Auch_als_Paket,privat,Angebot,1.0,test,NaN,2000,NaN,0,NaN,100000.0,0,NaN,sonstige_autos,NaN,2016-03-28 00:00:00,0,52525,2016-03-28 13:43:55
10356,2016-03-09 20:48:23,Opel_1_6_Schlachtefest,privat,Angebot,1.0,test,NaN,2017,manuell,0,NaN,150000.0,0,NaN,opel,ja,2016-03-09 00:00:00,0,15236,2016-03-18 02:44:15
10741,2016-04-01 00:36:23,Schlachte_Opel_astra_g,privat,Angebot,1.0,test,kombi,2000,manuell,0,astra,100000.0,0,diesel,opel,NaN,2016-04-01 00:00:00,0,23948,2016-04-07 05:16:17
11314,2016-03-19 12:45:16,Suche_Autos_mit_und_ohne._Tuev,privat,Angebot,1.0,test,NaN,2000,NaN,0,NaN,150000.0,0,NaN,sonstige_autos,NaN,2016-03-19 00:00:00,0,49808,2016-03-20 14:18:09
11442,2016-03-12 00:57:03,Opel_corsa_c__tausch_gegen_Golf_4_,privat,Angebot,1.0,test,kleinwagen,2000,manuell,90,corsa,150000.0,3,benzin,opel,nein,2016-03-12 00:00:00,0,66953,2016-03-27 21:15:45
11671,2016-03-08 19:53:38,Tausche_BMW_318i_e46_143ps_TÐ¬V_neu_2018!!!_Auc...,privat,Angebot,1.0,test,limousine,2002,manuell,143,3er,150000.0,8,benzin,bmw,NaN,2016-03-08 00:00:00,0,86356,2016-03-10 06:17:52
11743,2016-03-13 06:36:19,Opel_Cora_C_mit_Faltdach_und_Vollausstattung_g...,privat,Angebot,1.0,test,kleinwagen,2002,manuell,75,corsa,150000.0,2,benzin,opel,nein,2016-03-13 00:00:00,0,44795,2016-03-13 08:37:59
12006,2016-03-07 22:51:56,CLK_230_Avantgarde_Final_Edition_Cabrio_gegen_...,privat,Angebot,1.0,test,cabrio,2002,automatik,197,clk,150000.0,9,benzin,mercedes_benz,nein,2016-03-07 00:00:00,0,42929,2016-03-24 16:46:33
12268,2016-03-21 10:51:34,Schlqchtfest,privat,Angebot,1.0,test,kleinwagen,1997,manuell,75,clio,125000.0,9,benzin,renault,NaN,2016-03-21 00:00:00,0,59469,2016-04-06 05:15:21
12350,2016-03-16 23:46:24,Polo_Variant_1.4_gepflegter_Zustand,privat,Angebot,1.0,test,kombi,1998,manuell,0,polo,125000.0,3,benzin,volkswagen,nein,2016-03-16 00:00:00,0,12529,2016-03-18 01:17:20
12651,2016-04-03 22:58:46,Schlachtfest_Seat_Ibiza_6K,privat,Angebot,1.0,control,NaN,1995,manuell,60,ibiza,150000.0,0,benzin,seat,NaN,2016-04-03 00:00:00,0,51545,2016-04-06 02:44:47
12698,2016-04-03 20:54:10,Opel_Astra_H_twintop_Cabrio_rueckfahrkamera,privat,Angebot,1.0,test,cabrio,2007,manuell,140,astra,80000.0,6,benzin,opel,ja,2016-04-03 00:00:00,0,32805,2016-04-05 21:47:10
12876,2016-03-25 15:55:57,Bmw_E36_316i_Compact_komplett_od_Teile_m._TÐ¬V_...,privat,Angebot,1.0,test,coupe,1992,manuell,100,3er,150000.0,9,benzin,bmw,nein,2016-03-25 00:00:00,0,37269,2016-03-30 06:44:28
13135,2016-03-21 19:57:59,Mercedes_Benz_SL_55_AMG_SL_63_Facelift_Alu_Spo...,privat,Angebot,1.0,test,NaN,2008,automatik,0,sl,70000.0,2,benzin,mercedes_benz,nein,2016-03-21 00:00:00,0,33014,2016-03-24 10:16:11
13169,2016-03-22 11:48:05,BMW_e_39_520_i,privat,Angebot,1.0,control,limousine,1996,manuell,0,5er,150000.0,0,benzin,bmw,ja,2016-03-22 00:00:00,0,94065,2016-03-22 11:48:05
13679,2016-03-26 10:25:35,Suche_Audi_80_Cabrio,privat,Angebot,1.0,test,NaN,2017,manuell,150,a3,5000.0,0,NaN,audi,NaN,2016-03-26 00:00:00,0,65558,2016-04-06 07:45:00
13739,2016-03-19 16:40:51,Suche_fahrbereiten_PKW_LKW_Traktor!!!_Barzahlu...,privat,Angebot,1.0,test,NaN,2000,NaN,0,NaN,100000.0,1,NaN,sonstige_autos,NaN,2016-03-19 00:00:00,0,16928,2016-04-06 04:45:35
14292,2016-03-20 14:45:22,SCLACHTFEST,privat,Angebot,1.0,test,kombi,2001,automatik,180,a6,150000.0,0,diesel,audi,nein,2016-03-20 00:00:00,0,45307,2016-04-06 17:45:28
14350,2016-04-03 18:52:49,Suche_vw_lupo_gti_kein_umbau,privat,Angebot,1.0,control,NaN,2005,manuell,125,lupo,150000.0,7,NaN,volkswagen,NaN,2016-04-03 00:00:00,0,58456,2016-04-05 19:19:09
15054,2016-03-08 01:36:44,BMW_3er_Tuev_Neu!!!_gegen??????,privat,Angebot,1.0,control,limousine,1999,automatik,118,3er,150000.0,6,benzin,bmw,nein,2016-03-08 00:00:00,0,13353,2016-03-13 00:18:02
15579,2016-04-04 15:41:29,Ford_mustang,privat,Angebot,1.0,test,NaN,2005,NaN,0,mustang,150000.0,0,NaN,ford,NaN,2016-04-04 00:00:00,0,20095,2016-04-06 16:47:31
15731,2016-04-02 19:13:16,Opel_Zafira_1_9_CDTI_schoene_7_Sitze_fuer_dein...,privat,Angebot,1.0,control,bus,2009,manuell,150,zafira,150000.0,4,diesel,opel,NaN,2016-04-01 00:00:00,0,56075,2016-04-07 11:46:40
16398,2016-03-19 14:45:57,Schlachte_v_70,privat,Angebot,1.0,test,NaN,2000,NaN,0,v70,30000.0,0,NaN,volvo,NaN,2016-03-19 00:00:00,0,1796,2016-04-06 21:46:57
16989,2016-03-22 19:53:39,SUBARU_4_x_4__seperate_Differenzial.___besagt_...,privat,Angebot,1.0,test,kombi,1998,manuell,125,legacy,70000.0,2,benzin,subaru,nein,2016-03-22 00:00:00,0,66709,2016-04-06 14:17:15
17110,2016-03-15 18:43:11,300_se_vollaustattung_oldtimer_youngtimer__rar...,privat,Angebot,1.0,control,limousine,1985,automatik,200,andere,150000.0,3,benzin,mercedes_benz,nein,2016-03-15 00:00:00,0,40217,2016-04-06 19:16:47
17119,2016-03-23 22:50:38,OPEL_Astra__F_CC_Mattschwarz,privat,Angebot,1.0,test,NaN,1995,NaN,75,astra,150000.0,0,benzin,opel,NaN,2016-03-23 00:00:00,0,1728,2016-04-06 06:45:57
17858,2016-03-22 11:54:28,BMW_535d_xDrive_Sport_Aut._LEASINGÐ¬BERNAHME,privat,Angebot,1.0,control,limousine,2013,automatik,313,5er,50000.0,8,diesel,bmw,NaN,2016-03-22 00:00:00,0,90556,2016-04-06 00:46:40
17984,2016-03-24 13:39:12,Oldtimer_Chevrolet_Malibu_5.7l_V8_Bj.:1978,privat,Angebot,1.0,control,limousine,1978,automatik,195,NaN,5000.0,0,benzin,chevrolet,NaN,2016-03-24 00:00:00,0,74078,2016-03-30 14:16:00
18569,2016-04-05 12:58:55,Suche_Leasing_Audi_A4_Avant__A6_oder_Q5__SQ5_P...,privat,Angebot,1.0,test,NaN,2014,NaN,0,NaN,5000.0,0,NaN,audi,NaN,2016-04-05 00:00:00,0,82166,2016-04-05 12:58:55

In [26]:
autos = autos[autos['price'] != autos['price'].max()]

In [27]:
autos = autos[autos['price'] >= 2]

** Rows with price value at 0 and 1 that represented a hevy outlier that could bias the data and also for a price that has no logic. **

** Max value was also removed for being a default value that did not represent the correct value. **

In [28]:
autos['price'].describe()

count    1.808300e+04
mean     6.566500e+03
std      7.582240e+04
min      2.000000e+00
25%      1.200000e+03
50%      3.000000e+03
75%      7.500000e+03
max      1.000000e+07
Name: price, dtype: float64

In [29]:
autos['odometer_km'].value_counts().sort_index(ascending=True)

5000.0        307
10000.0        95
20000.0       288
30000.0       291
40000.0       281
50000.0       356
60000.0       440
70000.0       426
80000.0       544
90000.0       636
100000.0      811
125000.0     1898
150000.0    11710
Name: odometer_km, dtype: int64

In [30]:
autos['odometer_km'].describe()

count     18083.000000
mean     125966.100758
std       39595.113917
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

** No outliers spotted for odometer_km **

### Observations

* price column has odd values for car prices that start at \$1 and increment one by one
* odometer apperantly has been rounded to the nearest one thousand

In [31]:
date_crawled_dist = (autos['date_crawled']
                     .str[:10]
                     .value_counts(normalize=True, dropna=False)
                     .sort_index(ascending=True)
                    )
date_crawled_dist * 100

2016-03-05    2.449815
2016-03-06    1.393574
2016-03-07    3.721728
2016-03-08    3.168722
2016-03-09    3.544766
2016-03-10    3.246143
2016-03-11    3.312503
2016-03-12    3.539236
2016-03-13    1.625836
2016-03-14    3.544766
2016-03-15    3.489465
2016-03-16    3.058121
2016-03-17    3.113421
2016-03-18    1.294033
2016-03-19    3.511585
2016-03-20    3.611126
2016-03-21    3.782558
2016-03-22    3.412044
2016-03-23    3.323564
2016-03-24    2.897749
2016-03-25    3.058121
2016-03-26    3.290383
2016-03-27    3.047061
2016-03-28    3.544766
2016-03-29    3.262733
2016-03-30    3.378864
2016-03-31    3.212962
2016-04-01    3.323564
2016-04-02    3.561356
2016-04-03    3.920810
2016-04-04    3.511585
2016-04-05    1.327213
2016-04-06    0.387104
2016-04-07    0.132721
Name: date_crawled, dtype: float64

In [32]:
ad_created_dist = (autos['ad_created']
                     .str[:10]
                     .value_counts(normalize=True, dropna=False)
                     .sort_index(ascending=True)
                    )
ad_created_dist * 100

2015-11-10    0.005530
2016-01-03    0.005530
2016-01-22    0.005530
2016-01-27    0.011060
2016-01-29    0.005530
2016-02-01    0.005530
2016-02-02    0.005530
2016-02-05    0.005530
2016-02-12    0.005530
2016-02-14    0.005530
2016-02-17    0.005530
2016-02-19    0.005530
2016-02-21    0.005530
2016-02-23    0.011060
2016-02-24    0.005530
2016-02-25    0.011060
2016-02-28    0.016590
2016-02-29    0.022120
2016-03-01    0.016590
2016-03-02    0.011060
2016-03-03    0.071891
2016-03-04    0.138251
2016-03-05    2.217552
2016-03-06    1.559476
2016-03-07    3.555826
2016-03-08    3.207432
2016-03-09    3.550296
2016-03-10    3.212962
2016-03-11    3.312503
2016-03-12    3.539236
2016-03-13    1.764088
2016-03-14    3.445225
2016-03-15    3.439695
2016-03-16    3.074711
2016-03-17    3.080241
2016-03-18    1.399104
2016-03-19    3.389924
2016-03-20    3.616657
2016-03-21    3.815739
2016-03-22    3.378864
2016-03-23    3.323564
2016-03-24    2.903279
2016-03-25    3.036001
2016-03-26    3.301443
2016-03-27    3.058121
2016-03-28    3.561356
2016-03-29    3.201902
2016-03-30    3.389924
2016-03-31    3.207432
2016-04-01    3.367804
2016-04-02    3.483935
2016-04-03    3.959520
2016-04-04    3.533706
2016-04-05    1.211082
2016-04-06    0.409224
2016-04-07    0.110601
Name: ad_created, dtype: float64

In [33]:
last_seen_dist = (autos['last_seen']
                     .str[:10]
                     .value_counts(normalize=True, dropna=False)
                     .sort_index(ascending=True)
                    )
last_seen_dist * 100

2016-03-05     0.149312
2016-03-06     0.403694
2016-03-07     0.569596
2016-03-08     0.696787
2016-03-09     0.945640
2016-03-10     1.100481
2016-03-11     1.216612
2016-03-12     2.333684
2016-03-13     0.846099
2016-03-14     1.227672
2016-03-15     1.542886
2016-03-16     1.675607
2016-03-17     2.908809
2016-03-18     0.685727
2016-03-19     1.697727
2016-03-20     1.979760
2016-03-21     2.062711
2016-03-22     2.151192
2016-03-23     1.824918
2016-03-24     2.068241
2016-03-25     2.035061
2016-03-26     1.576066
2016-03-27     1.581596
2016-03-28     2.123541
2016-03-29     2.178842
2016-03-30     2.416634
2016-03-31     2.444285
2016-04-01     2.361334
2016-04-02     2.466405
2016-04-03     2.494055
2016-04-04     2.460875
2016-04-05    12.520046
2016-04-06    21.716529
2016-04-07    13.537577
Name: last_seen, dtype: float64

### Observations

* date_crawled has an evenly distribution where all dates happen between march and april of 2016
* ad_created dates range from June 2015 to April 2016. Distribution shows more frequency on more recent years
* last_seen has a high concentration on April 5, 6, and 7th for some reason

In [34]:
autos['registration_year'].describe()

count    18083.000000
mean      2004.589725
std         75.164742
min       1800.000000
25%       1999.000000
50%       2004.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

In [35]:
print(autos['registration_year'].value_counts().sort_index(ascending=True).head(10))
print(autos['registration_year'].value_counts().sort_index(ascending=False).head(15))

1800    1
1931    1
1934    2
1941    1
1943    1
1948    1
1950    2
1956    1
1958    1
1959    2
Name: registration_year, dtype: int64
9999      1
6200      1
5000      1
4500      1
4100      1
2019      1
2018    168
2017    498
2016    472
2015    151
2014    244
2013    284
2012    463
2011    612
2010    590
Name: registration_year, dtype: int64

### Observations

* There are years before 1910 when cars were not popular yet, were minimum year is 1000
* There are years after 2016 of years that haven't happened yet, clearly a mistake

** Based on observations, the lowest and highest acceptable value registration year are **
* Min: 1910
* Max: 2016

In [36]:
autos = autos[autos['registration_year'].between(1910,2016)]

In [37]:
(autos['registration_year'].value_counts(normalize=True).sort_values()) * 100

1931    0.005744
1941    0.005744
1956    0.005744
1958    0.005744
1962    0.005744
1948    0.005744
1961    0.005744
1943    0.005744
1959    0.011488
1950    0.011488
1934    0.011488
1963    0.017231
1969    0.017231
1975    0.022975
1964    0.028719
1977    0.034463
1981    0.034463
1965    0.040207
1973    0.040207
1968    0.040207
1976    0.045951
1967    0.051694
1974    0.051694
1960    0.051694
1966    0.057438
1971    0.063182
1979    0.080414
1972    0.086157
1978    0.086157
1984    0.091901
          ...
1985    0.201034
1988    0.252728
1989    0.321654
1991    0.695003
1990    0.769673
1992    0.838599
2015    0.867318
1993    0.901781
1994    1.361287
2014    1.401493
2013    1.631246
1995    2.469845
2012    2.659391
2016    2.711086
1996    3.107410
2010    3.388857
2011    3.515221
1997    4.187249
2009    4.646755
2008    4.801838
2007    4.991384
1998    5.203906
2002    5.341758
2001    5.588742
2006    5.611717
2003    5.778288
2004    5.864446
1999    5.927628
2005    6.375646
2000    6.829408
Name: registration_year, Length: 66, dtype: float64

### Observations

* registration year has been normalized
* Distribution concentrated after 1994
* Max peak is in 2000

In [38]:
top_brands = (autos['brand']
              .value_counts(normalize=True)
              .sort_values(ascending=False)
             )
top_brands = top_brands[top_brands > 0.05]
top_brands

volkswagen       0.213441
bmw              0.109420
opel             0.105744
mercedes_benz    0.095864
audi             0.086789
ford             0.067375
Name: brand, dtype: float64

In [39]:
brands = top_brands.index
brands

Index(['volkswagen', 'bmw', 'opel', 'mercedes_benz', 'audi', 'ford'], dtype='object')

** We will perform an analysis on the top brands with > 5% of the total **

* Volkswagen
* BMW
* Opel
* Mercedes Benz
* Audi
* Ford

In [40]:
mean_price_per_brand = {}
for brand in brands:
    mean_price = autos.loc[autos['brand'] == brand, 'price'].mean()
    mean_price_per_brand[brand] = mean_price
    
for brand in mean_price_per_brand:
    print('{}: \t\t{:.2f}'.format(brand, mean_price_per_brand[brand]))

volkswagen: 		5456.71
bmw: 		8077.00
opel: 		2866.94
mercedes_benz: 		8681.27
audi: 		9527.74
ford: 		4560.60

In [41]:
df_brands = pd.DataFrame.from_dict(mean_price_per_brand, orient='index')
df_brands.rename({0: 'Avg. Price'}, axis=1, inplace=True)

In [42]:
df_brands['Avg. Price'].sort_values(ascending=False)

audi             9527.736598
mercedes_benz    8681.272019
bmw              8076.996325
volkswagen       5456.709903
ford             4560.596760
opel             2866.944052
Name: Avg. Price, dtype: float64

In [43]:
df_brands.describe()

        Avg. Price
count     6.000000
mean   6528.375943
std    2625.111710
min    2866.944052
25%    4784.625046
50%    6766.853114
75%    8530.203096
max    9527.736598

### Observations
* The brand with highest average price is Audi
* 50% of the car prices are above \$8039.6
* Standard Deviation between top brands is \$1447.04

In [44]:
mean_mileage_per_brand = {}
for brand in brands:
    mean_mileage = autos.loc[autos['brand'] == brand, 'odometer_km'].mean()
    mean_mileage_per_brand[brand] = mean_mileage
    
for brand in mean_mileage_per_brand:
    print('{}: \t\t{:.2f}'.format(brand, mean_mileage_per_brand[brand]))

volkswagen: 		128736.54
bmw: 		133493.44
opel: 		130559.48
mercedes_benz: 		131231.28
audi: 		128371.94
ford: 		124658.99

In [45]:
mean_price_series = pd.Series(mean_price_per_brand)
mean_price_series

volkswagen       5456.709903
bmw              8076.996325
opel             2866.944052
mercedes_benz    8681.272019
audi             9527.736598
ford             4560.596760
dtype: float64

In [46]:
mean_mileage_series = pd.Series(mean_mileage_per_brand)
mean_mileage_series

volkswagen       128736.544672
bmw              133493.438320
opel             130559.478544
mercedes_benz    131231.276213
audi             128371.939113
ford             124658.994032
dtype: float64

In [47]:
df = pd.DataFrame(mean_price_series, columns = ['mean_price'])
df

                mean_price
volkswagen     5456.709903
bmw            8076.996325
opel           2866.944052
mercedes_benz  8681.272019
audi           9527.736598
ford           4560.596760

In [48]:
df['mean_mileage'] = mean_mileage_series
df

                mean_price   mean_mileage
volkswagen     5456.709903  128736.544672
bmw            8076.996325  133493.438320
opel           2866.944052  130559.478544
mercedes_benz  8681.272019  131231.276213
audi           9527.736598  128371.939113
ford           4560.596760  124658.994032

In [49]:
df[['mean_price','mean_mileage']].sort_values(by='mean_price', ascending=False)

                mean_price   mean_mileage
audi           9527.736598  128371.939113
mercedes_benz  8681.272019  131231.276213
bmw            8076.996325  133493.438320
volkswagen     5456.709903  128736.544672
ford           4560.596760  124658.994032
opel           2866.944052  130559.478544

In [50]:
df[['mean_price','mean_mileage']].sort_values(by='mean_mileage', ascending=False)

                mean_price   mean_mileage
bmw            8076.996325  133493.438320
mercedes_benz  8681.272019  131231.276213
opel           2866.944052  130559.478544
volkswagen     5456.709903  128736.544672
audi           9527.736598  128371.939113
ford           4560.596760  124658.994032

### Observations

* The mileage tends to be higher on more expensive cars like BMW and Mercedes Benz
* audi has the highest average price and the mean mileage is less than the mileage of the lowest average price brand Opel
* ford is not an expensive brand, however it has noticeably the lowest average mileage of all brands
* Opel being the least expensive brand has an above average mileage for top brands

** All columns with German words were translated to English **

* gearbox
* seller
* offer_type
* vehicle_type
* fuel_type
* unrepaired_damage

In [51]:
autos['gearbox'].unique()

array(['manuell', 'automatik', nan], dtype=object)

In [52]:
gearbox_dic = {
    
    'manuell': 'manual',
    'automatik': 'automatic'
}

autos['gearbox'] = autos['gearbox'].map(gearbox_dic)

In [53]:
autos['gearbox'].unique()

array(['manual', 'automatic', nan], dtype=object)

In [54]:
autos['seller'].unique()

array(['privat', 'gewerblich'], dtype=object)

In [55]:
seller_dic = {
    'privat': 'private',
    'gewerblich': 'comercial'
}

autos['seller'] = autos['seller'].map(seller_dic)

In [56]:
autos['seller'].unique()

array(['private', 'comercial'], dtype=object)

In [57]:
autos['offer_type'].unique()

array(['Angebot'], dtype=object)

In [58]:
offer_dic = {
    'Angebot': 'offer'
}

autos['offer_type'] = autos['offer_type'].map(offer_dic)

In [59]:
autos['vehicle_type'].unique()

array(['bus', 'limousine', 'kleinwagen', 'kombi', nan, 'coupe', 'suv',
       'cabrio', 'andere'], dtype=object)

In [60]:
vehicle_dic = {
    'bus': 'bus',
    'limousine': 'limousine',
    'kleinwagen': 'small car',
    'kombi': 'station wagon',
    'coupe': 'coupe',
    'suv': 'suv',
    'cabrio': 'cabrio',
    'andere': 'other'
}

autos['vehicle_type'] = autos['vehicle_type'].map(vehicle_dic)

In [61]:
autos['fuel_type'].unique()

array(['lpg', 'benzin', 'diesel', nan, 'cng', 'hybrid', 'elektro',
       'andere'], dtype=object)

In [62]:
fuel_dic = {
    'lpg': 'lpg',
    'benzin': 'gasoline',
    'cng': 'cng',
    'hybrid': 'hybrid',
    'elektro': 'electric',
    'andere': 'other'
}

autos['fuel_type'] = autos['fuel_type'].map(fuel_dic)

In [63]:
damage_dic = {
    
    'nein': 'no',
    'ja': 'yes'
}

autos['unrepaired_damage'] = autos['unrepaired_damage'].map(damage_dic)

** All datetime columns were split into two columns, one for date and one for time **

** Now dates are in integer form **

** last_seen column was removed, in the place of that column is last_seen_date and last_seen_time **

In [64]:
autos['ad_created'] = (autos['ad_created']
           .str[:10]
           .str.replace('-','')
           .str.strip()
           .astype(int))

In [65]:
autos[['date_crawled','time_crawled']] = autos['date_crawled'].str.split(n=1, expand=True)

In [66]:
autos['date_crawled'] = (autos['date_crawled']
           .str.replace('-','')
           .str.strip()
           .astype(int))

In [67]:
autos[['last_seen_date','last_seen_time']] = (autos['last_seen']
                                             .str.split(n=1, expand=True))
autos = autos.drop('last_seen', axis=1)

In [68]:
autos['last_seen_date'] = (autos['last_seen_date']
           .str.replace('-','')
           .str.strip()
           .astype(int))

** Color was extracted from the 'name' column and was added to 'color' column **

In [69]:
en_colors = ['red', 'blue', 'orange', 'black', 'white', 'brown', 'green']
ge_colors = ['rot', 'blau', 'orange', 'schwarz', 'weiÃ', 'braun', 'grÃ¼n']
autos['color'] = np.nan
name_lower = autos['name'].str.lower()
for color_set in [en_colors, ge_colors]:
    for color in color_set:
        regex = '_' + color + '$|_' + color + '_'
        autos.loc[name_lower.str.contains(regex),'color'] = color

In [70]:
colors_dic = {
    'red': 'red',
    'blue': 'blue',
    'orange': 'orange',
    'black': 'black',
    'white': 'white',
    'brown': 'brown',
    'green': 'green',
    'rot': 'red',
    'blau': 'blue',
    'schwarz': 'black',
    'weiÃ': 'white',
    'braun': 'brown',
    'grÃ¼n': 'green',    
}

autos['color'] = autos['color'].map(colors_dic)

In [71]:
autos['color'].value_counts(dropna=False)

NaN      17162
black      130
blue        62
red         35
green       10
white        8
brown        3
Name: color, dtype: int64

** Engine displacement was extracted from the name column, however please note some errors in this column due to regex rule not been able to discard dates with decimal points. **

* Below unfinished work for this column

In [72]:
liters = autos['name'].str.extract(r'(\d+)(\.\d*)?', expand=True)

In [73]:
liters['Lts.'] = liters[0] + liters[1]
liters['Lts.'] = liters['Lts.'].astype(float)

In [74]:
liters.head()

     0    1  Lts.
0  807  NaN   NaN
1  740  NaN   NaN
2    1   .6   1.6
3    1  NaN   NaN
4    1  NaN   NaN

In [75]:
liters.loc[liters['Lts.'].between(10,15),'Lts.'].value_counts().sort_index(ascending=True)

10.1700    1
10.2016    2
10.2017    2
11.2016    2
11.2017    2
12.2004    1
12.2017    1
14.9000    1
15.0000    1
Name: Lts., dtype: int64

## Data Analysis

** Top brand and model combinations **

In [78]:
autos[['brand','model']].head()

        brand   model
0     peugeot  andere
1         bmw     7er
2  volkswagen    golf
3       smart  fortwo
4        ford   focus

In [79]:
brand_model = autos['brand'] + autos['model']
brand_model = brand_model.str.lower()

In [80]:
brand_model.value_counts().head()

volkswagengolf      1391
bmw3er               972
volkswagenpolo       610
opelcorsa            594
volkswagenpassat     501
dtype: int64

### Observations

* VW Golf is the most frequent brand/model combination
* Volkswagen has the most frequent models with the golf, polo and passat

In [81]:
odometer = autos['odometer_km'].unique()
avg_price_per_km_group = {}

for group in odometer:
    avg_price = autos.loc[autos['odometer_km'] == group, 'price'].mean()
    avg_price_per_km_group[group] = avg_price
    
for km_group in avg_price_per_km_group:
    print('{:.0f} km: \t${:.2f}'.format(km_group, avg_price_per_km_group[km_group]))

150000 km: 	$3785.08
70000 km: 	$11460.04
50000 km: 	$16786.00
80000 km: 	$9861.64
10000 km: 	$21859.25
30000 km: 	$15698.60
125000 km: 	$6927.97
90000 km: 	$8358.34
20000 km: 	$19473.74
60000 km: 	$12400.44
5000 km: 	$8597.76
40000 km: 	$15102.96
100000 km: 	$20846.28

In [82]:
avg_price_per_km_group_series = pd.Series(avg_price_per_km_group)
avg_price_per_km_group_series

150000.0     3785.082097
70000.0     11460.036145
50000.0     16786.002857
80000.0      9861.640152
10000.0     21859.247191
30000.0     15698.604240
125000.0     6927.971397
90000.0      8358.335505
20000.0     19473.737410
60000.0     12400.442890
5000.0       8597.756098
40000.0     15102.964158
100000.0    20846.275159
dtype: float64

In [83]:
avg_price_per_km_group_series.round(2).sort_index()

5000.0       8597.76
10000.0     21859.25
20000.0     19473.74
30000.0     15698.60
40000.0     15102.96
50000.0     16786.00
60000.0     12400.44
70000.0     11460.04
80000.0      9861.64
90000.0      8358.34
100000.0    20846.28
125000.0     6927.97
150000.0     3785.08
dtype: float64

### Observations 

* There is negative slope on the relationship between the price and the total mileage since the price drops when the mileage gets higher
* The lowest average price corresponds to the highest mileage

In [84]:
brands = brand_model.unique()
damaged_avg_price = {}
no_damage_avg_price = {}

for brand in brands:
    avg_price = autos.loc[(brand_model == brand) & (autos['unrepaired_damage'] == 'yes'), 'price'].mean()
    damaged_avg_price[brand] = avg_price
    
for brand in brands:
    avg_price = autos.loc[(brand_model == brand) & (autos['unrepaired_damage'] == 'no'), 'price'].mean()
    no_damage_avg_price[brand] = avg_price
                                                       
damaged_avg_price_series = pd.Series(damaged_avg_price)
no_damage_avg_price_series = pd.Series(no_damage_avg_price)
df_damage_avg_price = pd.DataFrame(damaged_avg_price_series, columns = ['damaged'])
df_damage_avg_price['not_damaged'] = no_damage_avg_price_series
df_damage_avg_price.head()

                    damaged   not_damaged
peugeotandere   1434.428571   5570.450000
bmw7er          3324.750000  10907.378378
volkswagengolf  1857.292035   6170.270217
smartfortwo     2113.900000   3999.327381
fordfocus       1516.903226   8568.267281

In [85]:
df_damage_avg_price['delta'] = df_damage_avg_price['not_damaged'] - df_damage_avg_price['damaged']
df_damage_avg_price

                                  damaged   not_damaged         delta
peugeotandere                 1434.428571   5570.450000   4136.021429
bmw7er                        3324.750000  10907.378378   7582.628378
volkswagengolf                1857.292035   6170.270217   4312.978182
smartfortwo                   2113.900000   3999.327381   1885.427381
fordfocus                     1516.903226   8568.267281   7051.364055
chryslervoyager                640.000000   1422.000000    782.000000
seatarosa                     1010.000000   1188.250000    178.250000
renaultmegane                 1484.142857   3651.655556   2167.512698
NaN                                   NaN           NaN           NaN
audia3                        2999.592593   9021.070175   6021.477583
renaultclio                    824.900000   3263.534483   2438.634483
opelvectra                     804.071429   2156.641026   1352.569597
volkswagenscirocco                    NaN  12437.000000           NaN
bmw3er                        2355.433735   6715.489130   4360.055395
mazdaandere                   1603.000000   2559.894737    956.894737
audia4                        3933.939394   8462.530899   4528.591505
porsche911                            NaN  69680.530612           NaN
minicooper                    5225.000000  11833.344086   6608.344086
bmw5er                        3741.833333   9028.474359   5286.641026
volkswagenpolo                1161.314286   3156.917073   1995.602787
mercedes_benze_klasse         5399.218750   9473.125541   4073.906791
peugeot2_reihe                1530.724138   3649.183908   2118.459770
mercedes_benzc_klasse         3880.900000   7475.979290   3595.079290
opelcorsa                     1140.573171   2017.278075    876.704904
fordmondeo                     805.281250   4097.495868   3292.214618
seataltea                     3300.000000   5867.307692   2567.307692
audia1                                NaN  15034.709677           NaN
renaulttwingo                  606.678571   1692.254545   1085.575974
toyotaandere                  3000.000000   6933.580645   3933.580645
mercedes_benza_klasse         1498.500000   4722.221477   3223.721477
...                                   ...           ...           ...
hondaaccord                   1195.000000   4306.857143   3111.857143
chryslercrossfire                     NaN  15050.000000           NaN
alfa_romeo159                 7800.000000   8049.666667    249.666667
jeepandere                            NaN  13950.000000           NaN
chryslergrand                 1500.000000   1930.000000    430.000000
ladaniva                      2500.000000   4091.333333   1591.333333
mitsubishigalant               750.000000   1585.714286    835.714286
ladaandere                            NaN   4200.000000           NaN
subarulegacy                  3250.000000   2091.333333  -1158.666667
land_roverdefender            7990.000000  23299.800000  15309.800000
land_roverrange_rover         1800.000000  10766.666667   8966.666667
nissanjuke                            NaN  11997.250000           NaN
chevroletspark                        NaN   4799.750000           NaN
daewoolanos                           NaN    300.000000           NaN
volvov60                              NaN  18700.000000           NaN
seatalhambra                  1900.000000   9305.833333   7405.833333
land_roverdiscovery           1725.000000  16512.500000  14787.500000
trabantandere                         NaN   1300.000000           NaN
land_roverrange_rover_sport           NaN  16166.333333           NaN
land_roverrange_rover_evoque          NaN  31500.000000           NaN
daihatsumove                          NaN    300.000000           NaN
fiatcroma                             NaN   1099.000000           NaN
mercedes_benzg_klasse                 NaN  27075.000000           NaN
smartandere                           NaN   1600.000000           NaN
daewooandere                   550.000000   1316.000000    766.000000
dacialodgy                            NaN  13900.000000           NaN
roverrangerover                       NaN  23500.000000           NaN
lanciaandere                          NaN   1450.000000           NaN
ladasamara                            NaN           NaN           NaN
lanciakappa                           NaN   1725.000000           NaN

[283 rows x 3 columns]

In [86]:
df_damage_avg_price = df_damage_avg_price[df_damage_avg_price['delta'] != df_damage_avg_price['delta'].min()]

In [87]:
df_damage_avg_price['delta'].describe()

count      199.000000
mean      3447.800693
std       4368.025303
min      -8935.125000
25%       1094.912987
50%       2353.730769
75%       4469.209672
max      31506.800000
Name: delta, dtype: float64

In [88]:
df_damage_avg_price[df_damage_avg_price['delta'] < 0].head()

                  damaged   not_damaged        delta
skodasuperb       10999.0   8155.000000 -2844.000000
hyundaii_reihe     7650.0   7028.833333  -621.166667
fordmustang       25500.0  23258.352941 -2241.647059
volkswagenandere  15150.0   6595.480000 -8554.520000
bmwandere         28500.0  19564.875000 -8935.125000

### Observations

* There is a mean difference in price between a damaged and not damaged car of \$4,848.44 less.
* There are some scenerios where the difference in price is actually higher for damaged cars compared to not damaged car in the same brand/model category

In [89]:
autos['registration_month'].value_counts(normalize=True).sort_values(ascending=False)

3     0.103619
6     0.088857
5     0.084434
0     0.082539
7     0.081333
4     0.080184
10    0.074325
9     0.072545
11    0.069558
12    0.069558
1     0.065882
8     0.065537
2     0.061631
Name: registration_month, dtype: float64

### Observations

* The month were most registrations happen is on March
* The least amount of registrations in February